@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Blue-grayish: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    --step--1: clamp(0.83rem, calc(0.82rem + 0.08vw), 0.88rem);
    --step-0: clamp(1.00rem, calc(0.91rem + 0.38vw), 1.25rem);
    --step-1: clamp(1.20rem, calc(1.00rem + 0.85vw), 1.77rem);
    --step-2: clamp(1.44rem, calc(1.07rem + 1.59vw), 2.50rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-mobile.svg);
    background-color: var(--Pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display',
        sans-serif;
    font-size: var(--step-0);
}

.card {

    width: 89%;
    max-width: 25rem;
    border-radius: 20px;
    overflow: hidden;
    margin: 5em auto;
    background-color: white;
    box-shadow: 0px 8px 15px rgb(175, 168, 195);
}

img {
    display: block;
    max-width: 100%;
}

.img-hero {

    width: 100%;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    text-align: center;

}

h1 {
    padding-top: .6em;
    font-size: var(--step-2);
    font-weight: 900;

}

.main-text {
    padding: 1.1em;
    font-size: var(--step-0);
    color: var(--Blue-grayish);
    font-weight: 700;
    line-height: 1.45;
}

.main-box {
    background-color: var(--Very-pale-blue);
    display: flex;
    margin: 1.8em 0;
    border-radius: 10px;
    padding: .5em;
    font-size: var(--step-0);
    align-items: center;
    justify-content: space-between;
}



h2 {
    font-size: 0.75rem;
    font-weight: 900;
}

h3 {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--Blue-grayish);
}

.left-side {
    display: flex;
    align-items: center;
    gap: .3em;
}

.change {
    font-weight: 900;
    font-size: 0.75rem;
    cursor: pointer;
    text-decoration: none;
}

.change:active{
    color: rgb(118, 108, 241);
}



.button-cta {
    color: white;
    font-weight: 700;
    background-color: var(--Bright-blue);
    border-radius: 12px;
    border: none;
    padding: 1em .2em;
    font-size: var(--step--1);
    cursor: pointer;
}

.button-cta:active{
    background-color: rgb(118, 108, 241);
}

.icon{
    width: 2rem;
}

.cancel {
    background-color: transparent;
    font-weight: 700;
    border-radius: 12px;
    border: none;
    padding-top: 1em;
    font-size: .75rem;
    letter-spacing: -1px;
    cursor: pointer;
}





.attribution {
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(min-width:768px) {
    body{
        background-image: url(images/pattern-background-desktop.svg);
    }

    .left-side{
        gap: 1em;
    }

    .main-box{
        padding: 1em;
    }
}