@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Blue-grayish: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-mobile.svg);
    background-color: var(--Pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display',
        sans-serif;
}

.card {

    width: 89%;
    border: 4px solid palevioletred;
    border-radius: 20px;
    overflow: hidden;
    margin: 5em auto;
    background-color: white;
}

img {
    display: block;
    max-width: 100%;
}

.img-hero {

    width: 100%;
    height: auto;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    text-align: center;

}

h1 {
    padding-top: .6em;
    font-size: 1.4rem;
    font-weight: 900;

}

.main-text {
    padding: 1.1em;
    font-size: 1rem;
    color: var(--Blue-grayish);
    font-weight: 700;
    line-height: 1.45;
}

.main-box {
    background-color: var(--Very-pale-blue);
    display: flex;
    margin: 1.8em 0;
    border-radius: 10px;
    padding: 1.3em;
    font-size: 12px;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.main-box-text {
    justify-self: flex-start;
}

h2 {
    font-size: 1.2rem;
    font-weight: 900;
}

h3 {
    font-weight: 700;
    color: var(--Blue-grayish);
}

.left-side {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.change {
    font-weight: 900;
}

.button-cta {
    color: white;
    font-weight: 700;
    background-color: var(--Bright-blue);
    border-radius: 12px;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
}

.cancel {
    background-color: transparent;
    color: var(--Blue-grayish);
    font-weight: 900;
    border-radius: 12px;
    border: none;
    padding-top: 1em;
    font-size: .9rem;
    letter-spacing: -1px;
}





.attribution {
    font-size: 0.75rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}